*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Varela", sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0.283)),
    url(images/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: whitesmoke;
  min-height: 100vh;
  --main-color: #1f1e2e;
}

/* MAIN */
.main {
  max-width: 480px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--main-color);
  border-radius: 5%;
}

/* HEAD */
.header {
  margin-bottom: 2rem;
  text-align: center;
}

.header__span {
  display: block;
  text-align: right;
  font-style: italic;
  color: #f5af2f;
}

.header__title {
  display: inline;
  font-size: 3rem;
}
.header_container {
  display: inline-block;
}

/* IMAGE */
.img-contain {
  display: none;
}

/* FORM */
.form {
  margin-top: 0.9rem;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.form_section {
  margin: 1rem;
}

/* LABEL */
.form_section__label {
  margin-top: 0.5rem;
  display: block;
  font-size: 0.8rem;
  color: whitesmoke;
  /* border: 2px solid yellow; */
}

/* INPUT */
input,
textarea,
select,
button {
  font-family: "Varela", sans-serif;
  color: whitesmoke;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="button"],
select,
textarea {
  display: block;
  width: 100%;
  height: auto;
  border-style: none;
  outline: none;
  cursor: pointer;
  background-color: var(--main-color);
  border-bottom: 2px solid rgba(255, 255, 255, 0.584);
}

input[type="button"] {
  background-color: #f44b27;
  border: none;
  padding: 0.7rem;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
}

option,
input[type="radio"],
input[type="checkbox"] {
  margin-bottom: 0.5rem;
}

/* INPUT HOVER & FOCUS */
textarea:hover,
select:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid #f5af2f;
}

input[type="button"]:hover,
input[type="button"]:focus {
  background-color: white;
  border: 1px solid #f44b27;
  color: #f44b27;
}
