*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Varela", sans-serif;
  color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0.283)),
    url(images/mountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* MAIN */
.main {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  background-color: #1f1e2e;
  opacity: 0.9;
  /* border: 3px solid lawngreen; */
}

/* .container {
  border: 3px solid gold;
  padding: 2rem;
} */
/* HEAD */
.header {
  /* border: 3px solid lightsalmon; */
  margin: 1rem;
  text-align: center;
}

.header__span {
  /* border: 1px solid red; */
  display: block;
  text-align: right;
}

.header__title {
  display: inline;
}
.header_container {
  /* border: 1px solid red; */
  display: inline-block;
}

/* IMAGE */
.img-contain {
  /* border: 3px solid lightseagreen; */

  margin: 1rem;
  margin: 0 auto;
  max-width: 350px;
}

.img-contain__image {
  display: block;
  max-width: 350px;
  max-width: 100%;
}

/* FORM */
.form {
  /* border: 5px solid red; */
  margin-top: 0.9rem;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

.form_section {
  /* border: 3px solid yellow; */
  padding: 1rem;
  margin: 1rem;
}

/* INPUT */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="button"],
select,
textarea {
  display: block;
  width: 100%;
  color: white;
  height: auto;
}

input[type="button"] {
  background-color: #f44b27;
  padding: 0.7rem;
  border-radius: 15px;

  text-transform: uppercase;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}

option,
input[type="radio"],
input[type="checkbox"] {
  margin-bottom: 0.5rem;
}

/* LABEL */
.form_section__label {
  margin-bottom: 0.5rem;
  display: block;
  /* border: 2px solid yellow; */
}
